{% extends "layout.html" %}

{% block heading %}
    List of locations
{% endblock %}

{% block body %}

    <h1> Zipcode search for '{{search}}' </h1>

    <table class="table table-striped">
        <thead>
            <th scope="col">Zipcode</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longtitude</th>
            <th scope="col">Population</th>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td><a href="{{ url_for('zip', id=row.id) }}" class="btn btn-info" role="button"> {{row.zipcode}}</a></td>
                <td><a href="{{ url_for('zip', id=row.id) }}" class="btn btn-info" role="button"> {{row.city}}</a></td>
                <td>{{ row.state }}</td>
                <td>{{ row.latitude }}</td>
                <td>{{ row.longtitude }}</td>
                <td>{{ row.population }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
